.seller{
    margin-left: 5% !important;
}
.container-line {
  border: none;
  height: 2px;              
  background-color: #7a7778; 
  margin: 0 auto;  
  width: 88%;             
}
.view-all-btn{
  background-color: rgb(250, 184, 223);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 60px;
}
.best-container {
  background-color: #fff5f8; 
  border-radius: 18px;
  margin: auto;
  width: 93%;
  padding: 21px 0;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
  margin-top: 60px;
  margin-left: 4%;
}
.active-tab {
  background-color: #000;
  color: white;
  position: relative;
}
.cake-imges {
  object-fit: cover;
  
}
/* Triangle */
.active-tab::after {
  content: "";
  position: absolute;
  bottom: -10px; /* moves triangle below */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; /* triangle color */
}
.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  background: #1a8917;
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: bold;
}
/* Reviews style small and grey */
.rating i {
  color: white !important;
  font-size: 14px;
}

.old-price {
  color: #7a7a7a;
  text-decoration: line-through;
  font-size: 11px;
}

.new-price {
  color: #d1001f;
  font-weight: 700;
  font-size: 12px;
  white-space: wrap;
}
.rating span {
  font-size: 12px;
  color: #e6e6e6 !important;
}

.discounts {
  color: #099400;
  font-weight: 600;
  font-size: 11px;
  background-color: #c3eea9; 
  border-radius: 3px;
  padding: 5px;
}
.cake-cards {
  min-width: 300px;     
  border-radius: 12px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  scroll-snap-align: start;
}
/* Scroll container */
.scroll-container {
  display: flex;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}


/* Arrow buttons */
.arrow-btn1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  background:white !important;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  cursor: pointer;
}

.arrow-left1 {
  left: 0;
  z-index: 10;  
}

.arrow-right1 {
  right: 0;
  z-index: 10;
}
/* Mobile view: Cakes top, Flowers bottom */
@media (max-width: 576px) {
  .category-text {
    font-size: 14px !important;
    padding: 4px 10px !important;
    position: relative;
    right: 50px;
  }
  .flowers-text {
    position: relative;
    right: 20%;
  }
  .seller {
    font-size: 20px !important;
    position: relative;
    right: 10px;
  }
   .tab-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 9px !important;
    margin-left: 0 !important;
  }

  .view-all-btn {
    font-size: 12px !important;
    width:38%;
    text-align: center;
  }
  .best-container{
    width:90% !important;
    margin-left: 15px !important;
  }
  .cake-imges{
    height: 200px !important;
    width: 100% !important;
    margin-left: 0 !important;
    object-fit: cover !important;
  }
  .cake-cards{
    margin-right: 10px !important;
  }
  .arrow-left1{
    z-index: 10 !important;
  }
  .arrow-right1{
    z-index: 10 !important;
  }
}
