.seller{
    margin-left: 5% !important;
}
.container-line {
  border: none;
  height: 2px;              
  background-color: #7a7778; 
  margin: 0 auto;  
  width: 85%;             
}
.best-container {
  background-color: #fff5f8; /* soft light pink */
  border-radius: 18px;
  margin: auto;
  width: 91%;
  padding: 20px 0;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
  margin-top: 60px;
}
.active-tab {
  background-color: #000;
  color: white;
  position: relative;
}
.cake-img {
  object-fit: cover;
  border-radius: 12px;
}
/* Triangle */
.active-tab::after {
  content: "";
  position: absolute;
  bottom: -10px; /* moves triangle below */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; /* triangle color */
}
.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  background: #1a8917;
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: bold;
}
/* Reviews style small and grey */
.rating i {
  color: white !important;
  font-size: 14px;
}

.old-price {
  color: #7a7a7a;
  text-decoration: line-through;
  font-size: 11px;
}

.new-price {
  color: #d1001f;
  font-weight: 700;
  font-size: 12px;
  white-space: wrap;
}
.rating span {
  font-size: 12px;
  color: #e6e6e6 !important;
}

.discount {
  color: #099400;
  font-weight: 600;
  font-size: 11px;
  background-color: #c3eea9;
  border-radius: 3px;
  padding: 5px;
}
.slick-slider,
.slick-list,
.slick-track {
  overflow: visible !important;
}
