.cake-delivery{
  transform: translate(-40px);
  white-space: nowrap;
}
.breadcrumb-bar {
  width: 100%;
  padding: 10px 20px;   /* left padding only */
}

.breadcrumb-content {
  display: flex;
  align-items: center;
  font-size: 14px;
  transform: translate(-25%);
  position: relative;
  top:25px
}

.home {
  color: #141313;
}

.cakes {
  color: #000;
  font-weight: 500;
}

.filter-bar {
  width: 93%;
  background-color: #f2f2f2;
  border-radius: 6px;
  margin-top: 15px;
}
.filter-bar .row > div {
  border-right: 1px solid #ddd;
  height: 49px;
}

.filter-bar .row > div:last-child {
  border-right: none;
}
.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 1.8rem;
  cursor: pointer;
  color: #198754;
}
.custom-dropdown:focus {
  outline: none;
  box-shadow: none;
}
.custom-dropdown option {
  color: black;
}

.col-auto.position-relative i.fi-rr-caret-down {
  cursor: pointer;
  color: #333;
  font-size: 1rem;
  pointer-events: auto;
}
.delivery{
  transform: translate(160%);
}
.filter-price{
  transform: translate(190%);
}
.sort{
  transform: translate(320%);
}
.filter{
  font-size: 13px;
}
.popup-box {  
  width: 40%;        /* responsive for mobile */
  padding: 16px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

/* Reset button - RED */
.reset-btn {
  background-color: #dc3545; /* Bootstrap danger red */
  color: #fff;
  border: none;
  padding: 8px 8px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #bb2d3b;
}

/* OK button - GREEN */
.ok-btn {
  background-color: #198754; /* Bootstrap success green */
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.ok-btn:hover {
  background-color: #157347;
}
