.container h5 {
  position: relative;
  top: 15px;
  right: 2% !important;
  font-weight: normal;
  white-space: nowrap;
}

.home {
  position: relative;
  right: 17%;
  bottom: 30px;
  font-size: 13px;
  font-weight: 300;
}

.icon {
  font-size: 7px;
  margin-left: 8px;
  margin-top: 5px !important;
}

.cakes {
  position: relative;
  left: 11%;
  top: 1px;
}

/* BOX */
.filter-box-main {
  margin-top: 90px;
  min-width: 93vw;
  background-color: lch(90.39% 0.72 18.61);
  border-radius: 6px;
  position: relative;
  right: 26%;
}
.items{
  font-size: 13px;
}
.date{
  font-size: 13px;
  float: left;
}
.filter-heading {
  margin-bottom: 15px;
}

/* DELIVERY DATE PICKER BOX */
.delivery-picker {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.calendar-icon {
  font-size: 20px;
}

.delivery-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.delivery-title {
  font-size: 12px;
}

.delivery-select {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

/* DROPDOWN ARROW */
.dropdown-arrow {
  font-size: 16px;
  margin-left: 5px;
}

