.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;           /* gap between cards */
}

.card-custom {
  width: 24%;           /* slightly slimmer than 25% */
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: auto;        /* big image */
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Tablet – less than 992px */
@media (max-width: 991px) {
  .card-custom {
    width: 49%;         /* 2 cards per row */
    min-width: 295px !important;   
    transform: translate(-4px);
  }
}

/* Mobile – less than 576px */
@media (max-width: 576px) {
  .card-custom {
    width: 100%;    
    min-width: 280px !important;  
    transform: translate(-5px);   /* 1 card per row */
  }

  .card-img-top {
    height: auto;      /* smaller images on mobile */
  }
}

@media  (max-width:576px) {
  .button{
    position: relative;
    left:35%;
    width: 100px;
    white-space: nowrap !important;
    margin-top: 18px;
  }
  .button h5{
    font-size: medium;
  }
  .dreamy{
    font-size: 19px;
    position: relative;
    bottom: 10px;
  }
}

 