.cake-card {
  min-width: 315px;     
  border: 1px solid #ccc; 
  border-radius: 15px;  
}
.text{
  text-align: center !important;
}
.cake-img {
  width: 100%;
  height: 250px;     
  object-fit: cover; 
  gap:20px 
}
.card-title { 
margin-bottom: 0.25rem; 
} 
.card-text { 
margin-bottom: 0;
font-size: 14px;
}
@media  (max-width:576px) {
  .button{
    position: relative;
    left:65%;
    width: 100px;
    white-space: nowrap;
  }
   .cake-card {
    width: 97% !important;
    min-width: auto;
    margin-left: 5px;
  } 
}
@media (min-width: 769px) and (max-width: 1200px) {

  .best-container .row {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding-left: 20px;        /* left gap */
    padding-right: 50px !important;       /* right gap */
    scrollbar-width: none;
  }

  .best-container .row::-webkit-scrollbar {
    display: none;
  }

  .cake-card {
    flex: 0 0 auto;
    min-width: 280px !important;     /* better size for 1024px */
    margin-right: 30px !important;   /* GAP between cards */
    border-radius: 15px;
  }
}
