.cake-card {
  min-width: 308px;     
  border: 1px solid #ccc; 
  border-radius: 15px;  
}
.text{
  text-align: center !important;
}
.cake-img {
  width: 100%;
  height: 250px;     
  object-fit: cover; 
  gap:10px 
}
.card-title { 
margin-bottom: 0.25rem; 
} 
.card-text { 
margin-bottom: 0;
font-size: 14px;
}
@media  (max-width:576px) {
  .button{
    position: relative;
    left:75%;
    width: 100px;
    white-space: nowrap;
  }
  .cake-card{
    margin-left: 18%;
  }
  
}
