
.checkout-container {
  max-width: 600px;
  margin: -30px auto !important;
  margin-left: 80px !important;
}

.checkout-form label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.pin-row {
  display: flex;
  gap: 10px;
}

.address-type {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.address-type button.active {
  background: #e91e63;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save {
  background: #4caf50;
  color: white;
}
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  display: block;
}
.checkout-page {
  display: flex;
  gap: 30px;
  margin: 20px;
  flex-wrap: wrap;
}

.checkout-left {
  flex: 3;
}

.checkout-right {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  height: fit-content;
  margin-right: 10%;
}

.checkout-right h3 {
  margin-bottom: 15px;
}

.price-details-box h4 {
  margin-bottom: 15px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-row.total {
  font-weight: bold;
  font-size: 1.1rem;
}
@media (max-width:576px) {
      .checkout-container{
            margin-left: 0px !important;
            margin-top: -100px !important;
      }
      .checkout-page{
            margin: 20px;
      }
      .checkout-right{
            margin: 10px;
            transform: translate(-8px);
      }
}