/* Container for all images */
.container {
 display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;                 /* SAME GAP */
  flex-wrap: wrap;
  margin-top: 20px;
}
.containerone {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.bottle-row {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.containerone h1 {
  margin-top: 5px !important;   
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}
.image-block {
  width: 32%;
  margin-bottom: 25px;       
}
/* Your same positions - desktop only */
.image-block.plant img,
.image-block.frame img {
  position: relative;
  bottom: 70px !important;
}

.image-block img {
  width: 100%;
  height: 360px;  
  object-fit: cover;
  border-radius: 12px;
  margin-top: 5px;
}

.image-block.discount img {
  height: 400px;
}

.image-block.bottle img {
  height: 700px;
  position: relative;
  bottom: 25px;  
}

.image-block.small {
  transform: translateY(310px); 
  position: absolute;
  right: 60px;
  width: 29%;
}

.image-block.choco {
  transform: translateY(310px); 
  position: absolute;
  left: 60px;
  width: 29%;
}
@media (max-width: 768px) {
  .image-block {
    width: 100% !important;
    position: static !important;
    margin-bottom: 15px !important;   
    left:5%;
  }
  .image-block img {
    height: 350px !important;
    object-fit: contain !important;
  }
  .image-block.plant img,
  .image-block.frame img {
      bottom: 15px !important;
}
.image-block.bottle img{
  height: 500px;
  object-fit: contain;
}
  .image-block.small,
  .image-block.choco,
  .image-block.frame,
  .image-block.plant {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin-bottom: 3px !important; 
    left: 0 !important;
    right: 0 !important;
  }

}
/* MOBILE: 1 per row + same gap */
@media (max-width: 480px) {
  .image-block {
    width: 100% !important; 
    position: static !important;
    margin-bottom: 0px !important; 
    margin-right: 10px !important; 

  }
  .image-block img {
    height: 340px !important;
    object-fit: cover !important;
    position: relative;
    left:20%;
  }
  .image-block.bottle {
    position: static !important;
    margin-bottom: 5px !important;  
  }
  .image-block.small,
  .image-block.choco {
    position: static !important;
    transform: none !important;
    width: 100% !important;
    margin-bottom: -8px !important;
    left: 0 !important;
    right: 0 !important;
  }
  .must{
    position: relative;
    left:15% !important;
  }
}
/*image*/
.container .cash{
  width: 100% !important;
}
/* =============== FLIP ANIMATION =============== */
/* FLIP ANIMATION */
@keyframes flipX {
  0% {
    transform: perspective(500px) rotateX(0deg);
  }
  100% {
    transform: perspective(500px) rotateX(360deg);
  }
}

.flipX {
  animation: flipX 1.2s ease-in-out;
}

@media(max-width:576px) {
  .container .cash{
    width: 100% !important;
    position: relative;
    left:15% !important;
  }
}