.detailpage {
  background-color: lch(96.41% 1.06 18.87);
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  display: flex;
  gap: 45px;
  padding: 15px 20px;
  width: 99%;
  height: 60px;
  align-items: center;
  justify-content:flex-start; 
  white-space: nowrap; 
  scrollbar-width: none;
  padding-right: 40px !important;
  overflow: visible; 
  position: relative; 
  z-index: 10;
}

.menu-items{
  font-weight: 500;
  font-size: 13px;
  color: #444;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: 15px;
}
.menu-item {
  font-weight: 500;
  font-size: 12px;
  color: #444;
  cursor: pointer;
  transition: color 0.3s ease;
  gap:20px
}

.menu-item:hover {
  color: #f65ea2;
}

.menu-items.active {
  color: red  !important; 
  font-weight: bold !important;
}


.delivery-container {
  position: absolute;
  right: 10%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #ff3385;
  font-size: 18px;
  overflow: hidden;
  width: 200px; 
  max-height: 100px;
  padding-left: 40px; 
  float: right;
  padding: 8px;
}

.scooty {
  color: #ff3399; 
  position: relative;
  animation: moveScooty 2s linear infinite;
}

  @keyframes moveScooty {
  0%, 20% {
    left: -30px;  
  }
  100% {
    left: 260px;  
  }
}
.delivery-text{
  font-size: 15px;
  position: relative;
}
.dropdown-box {
  position: absolute;
  top: 23%;
  left: 4%;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 180px;
  z-index: 999;
  font-size: 11px;
}
.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  gap: 22px;
  font-weight: 600;
  font-size: 14px;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 2%;
  min-width: 800px;
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 25px 35px; 
  gap: 35px; 
  align-items: stretch;
}

.menu-column {
  width: 20%;
}

.menu-column h4 {
  font-size: 14px;
  font-weight: 600;
  color:black;
  margin-bottom: 8px;
}

.menu-column p {
  font-size: 13px;
  color: #333;
  /* margin: 10px 0; */
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-column p:hover {
  color: #ff3385;
}
.menu-column .truffle{
 position: relative;
 right: 5px;
}
.menu-column .birth{
  position: relative;
  right: 5px;
}
.menu-column .choco{
  position: relative;
  right: 6px;
}
.menu-column .kids{
  position: relative;
  right:5px;
}
.menu-column .egg{
  position: relative;
  right:10px;
}
.truf{
  position: relative;
  left:5px
}
.menu-separator {
  display: inline-block;
  background-color: rgb(243, 134, 56); 
  width: 4px;               
  height: 14px;          
  margin-right: 12px !important;            
  vertical-align: middle;   
  position: relative;
  bottom: 2px;
}
.sub-section {
  margin-top: 10px;
  padding-top: 8px;
  border-top: 1px solid #eee;
}

.sub-section h4 {
  font-size: 13px;
  font-weight: 600;
  color: black;
  margin-bottom: 6px;
}

.sub-section p {
  font-size: 13px;
  color: #404040;
  margin: 5px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sub-section p:hover {
  color: #f65ea2;
}
.menu-column-1 {
  width: 22%;
  padding-left: 55px; 
  position: relative;
  margin-left: 20px;
}
.menu-column-1::before {
  content: "";
  position: absolute;
  left:20px;
  top: -20px; 
  bottom: -20px;
  width: 0.8px;
  background-color: #c0bebd; 
}
.menu-column-1 h4 {
  font-size: 14px;
  font-weight: 600;
  color: #f65ea2;
  margin-bottom: 8px;
}

.menu-column-1 p {
  font-size: 13px;
  color: #444;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu-left .menu-item,
  .menu-left .menu-items,
  .delivery-container {
    display: none !important; 
  }
}
