.footer-row {
  display: flex;       /* IMPORTANT */
  align-items: flex-start;
  gap: 30px;
}
.footer-section {
  flex: 1 1 200px; 
  min-height: 150px;
}
.company{
    margin-left: 55% !important;
    white-space: nowrap;
}
.footer-links ul {
  list-style: none !important;
  padding: 0;
  margin-left: 55% !important;
  white-space: nowrap;
}

.footer-links li {
  margin-bottom: 10px;
  font-weight: lighter;
}

.footer-links a {
  text-decoration: none;
  color: #333; /* link color */
  font-weight: 400;
  transition: color 0.3s;
}
.footer {
  display: flex;
  gap: 60px; /* spacing between sections */
  flex-wrap: wrap; /* wraps on small screens */
}
.footer-links-container {
  margin-top: 80px; 
  margin-left: 8%;
}

.footer-links-container ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.footer-links-container ul li {
  margin-bottom: 10px; 
}

.footer-links-container ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: color 0.3s;
}
.footer-divider{
      height: 210px;
      width: 2px;
      background-color: #ccc;
      margin-top: 4%;
      margin-left: 7%;
}
.social-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-left: 5%;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  font-size: 22px;
  color: #333;
  text-decoration: none;
}
.social-media-section{
      background-color: #e6e4e4;
      width: 98%;
}
@media (max-width: 576px) {

  /* Remove big gaps */
  .footer {
    flex-direction: column;
    gap: 10px !important;
    padding: 0 10px;
  }

  /* Each section full width */
  .footer-section {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Remove huge left shifts */
  .company {
    margin-left: 40% !important;
    text-align: left;
    margin-bottom: 15px;
  }

  .footer-links ul {
    margin-left: 0 !important;
  }
  .footer-divider {
    display: none;
  }
  .footer-links-container {
    margin-top: 10px !important;
    margin-left: 0 !important;
    width: 100%;
  }

  /* Reduce link gap */
  .footer-links li,.footer-links-container li {
    margin-bottom: 3px !important;
    margin-left: 45%;
    width: 100%;
  }
}
.reserve{
  margin-left: 5% !important;
}
.google-app{
  width: 12%;
}