.pointer {
  cursor: pointer;
}
.help-bar-bg {
  width: 100%;
  background-color: #e6e6e6; 
}
.help{
  margin-left: 47px;
}
@media (max-width:576px) {
.help-bar-bg{
    width: 100vw !important;  
    padding: 10px 0 !important;
    background-color: #e6e6e6;  
}
.help{
 position: relative;
 right:50px
}
}
.footer-line {
  margin: 0 auto;          
  max-width:90%;          
  white-space: normal;    
  overflow-wrap: break-word;
  text-align: center;  
  font-size: 15px;   
}
@media (max-width: 576px) {
  .footer-line {
    max-width: 80%;      /* width reduce */
    font-size: 13px;     /* smaller font */
    line-height: 1.4;
  }
}
