/* ========================================================= */
/* ======================= GLOBAL STYLES ==================== */
/* ========================================================= */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.top-links,
.header-row {
  position: fixed !important;
  width: 100%;
  left: 0;
  background: white; 
  z-index: 100;
}
.top-links {
  top: 0;
}
.header-row {
  top: 30px; 
}
body {
  padding-top: 100px !important;
} 

/* Hide top links on small mobiles */
@media(max-width: 576px) {
    /* .top-links { display: none !important; } */
    body {
  padding-top: 200px !important;
} 
.pencil{
  font-size: 26px !important;
}
.top-links {
    font-size: 11px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
    white-space: nowrap;
  }
}


/* ========================================================= */
/* ======================= HEADER ROW ======================= */
/* ========================================================= */

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 15px 15px;
    flex-wrap: wrap;
}

/* ========================================================= */
/* ========================== LOGO ========================== */
/* ========================================================= */

.logo img {
    height: 35px;
    width: auto;
    cursor: pointer;
    position: relative;
    left:20px !important 
}

/* Mobile logo */
@media(max-width: 576px) {
    .logo img { height: 32px; }
}


/* ========================================================= */
/* ======================= SEARCH BOX ======================= */
/* ========================================================= */

.search-box {
    flex: 1;
    max-width: 400px;
}

.search-box input {
    width: 100%;
    height: 42px;
    padding: 10px 42px 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    font-size: 14px; 
    font-weight: bold;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 11px;
    font-size: 18px;
    color: #444;
}


/* ========================================================= */
/* ===================== LOCATION BOX ======================= */
/* ========================================================= */

/* MAIN BOX */
.location-box {
    display: flex;
    align-items: center;
    background: linear-gradient(to right,#f8d9e6,#e3effd);
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    overflow: visible;
    max-width: 350px !important;
    position: relative;
    right:6% !important; 
    white-space: normal; 
}

/* LEFT – FLAG AREA */
.location-flag-section {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    flex-shrink: 0;
}

.location-flag-section img {
    width: 30px;
    height: 20px;
    border-radius: 3px;
}

.location-flag-section span {
    font-size: 14px;
    font-weight: 600;
}
.location-text-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 12px;
    min-width: 0;
}

.location-text-section i {
    font-size: 16px;
    color: #444;
    flex-shrink: 0;
}

.location-text-section span {
    font-weight: 600;
    font-size: 12px;
    color: #222;
    white-space: normal !important; /* Allow full text */
    overflow: visible !important;
    text-overflow: unset !important;
}
/* ========================================================= */
/* ========================== ICONS ========================= */
/* ========================================================= */

.header-icons {
    display: flex;
    align-items: center;
    gap: 29px !important;
    font-size: 25px;
    position: relative;
    right: 37px;
}

.header-icons i {
    font-size: 20px !important;
    cursor: pointer;
}

.icon-wrapper {
    position: relative;
    right:18px;
    top:7px;
    border-radius: 50%;
    display: inline-block;
}
.icon-user{
  position: relative;
  left:4px
}
.badge.icon-badge.text-center {
  position: absolute;
  top: -17px !important; 
  right: -18px; 
  background: #ff1ead;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================================= */
/* ======================= RESPONSIVE ======================= */
/* ========================================================= */

/* ======================= MOBILE VIEW (≤576px) ======================= */
@media (max-width: 576px) {

  .header-row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
  }
 .logo img {
  width: 40%;
  position: absolute;  
  right: 15%;
  transform: translateY(-48px);
}


  /* Search full width */
  .search-box {
      width: 100% !important;
      max-width: 100% !important;
      margin-top: 13px;
  }

  /* Location box full width */
  .location-box {
      width: 100% !important;
      max-width: 100% !important;
      right: 0 !important;
      left: 0 !important;
      margin-top: 10px;
      overflow: visible !important;
      white-space: normal !important;
  }
  .location-text-section {
      white-space: normal !important;
  }
  .location-text-section span {
      white-space: normal !important;
      overflow: visible !important;
      text-overflow: unset !important;
      display: block !important;  
      font-size: 9px !important;
    
  }
  .header-icons {
      width: 100%;
      justify-content: center;
      gap: 28px !important;
      position: static !important;
      order: -1;  
      margin-bottom: 10px; 
  }

  .icon-wrapper {
      left: 27% !important;
  }
}

/* ============ SMALL MOBILE (320px) ============ */
@media (max-width: 320px) {
  .header-icons {
      gap: 6px !important;
      right: 0px;
      font-size: 22px;
  }

  .header-icons i {
      font-size: 14px !important;
  }

  .icon-wrapper {
      right: 4px;
  }

  .icon-user {
      left: 0px;
  }

  .icon-badge {
      top: -11px;
      right: -10px;
      width: 25px;
      height: 26px;
      font-size: 7px;
      border-radius: 50% !important;
  }
}

/* ======================= TABLET (577px - 768px) ======================= */
@media (min-width:577px) and (max-width:768px) {

  .header-row {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
  }

  .search-box,
  .location-box {
      width: 100% !important;
      max-width: 90% !important;
  }
  .location-box{
    margin-left: 88px;
  }
  .logo img {
  position: absolute; 
  top: 75px;             
  right: 15%;
  transform: translateY(-48px);
  }
  .pencil{
    position: relative;
    left: 110%;
  }
  .location-text-section span{
    font-size: 14px;
  }
  .header-icons {
      width: 100%;
      justify-content: center;
      gap: 30px;
      position: static !important;
      order: -1;  
      margin-bottom: 10px;
  }

  .icon-wrapper {
      left: 29% !important;
  }
}

/* ========================================================= */
/* ======================= Laptop view ======================= */
@media (min-width: 1024px) and (max-width: 1399px) {

  .location-box {
    position: relative;
    right: 2px !important;
    white-space: normal;
  }

  .search-box {
    position: relative;
    left: 10px;
  }

  .header-icons {
    position: relative;
    left: 1px;
  }
}

/* Tooltip */
.tooltip-box {
  position: absolute;
  top: 120%; 
  left: 0;
  background: #fff;
  padding: 8px 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  border-radius: 6px;
  min-width: 180px;
  z-index: 99999 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tooltip-box div:hover {
  color: rgb(236, 89, 155);
  cursor: pointer;
}
/* ================== Tooltip Suggestions ================== */
.search-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  text-align: left;
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
  max-width: 90vw;
}
.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.search-item::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #dad7d7;
}
.shortcut-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 576px) {
  .shortcut-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.shortcut-item {
  font-size: 14px;
  cursor: pointer;
  color: #000;
}

.shortcut-item:hover {
  color: #e74898;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup-box {
  background: #fff;
  width: 50% !important;
  border-radius: 19px;
  padding: 40px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  position: relative;
  animation: popupIn 0.25s ease-in-out;
}

@keyframes popupIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.popup-header {
  text-align: center;
  white-space: nowrap;
  margin-top: 15px;
}
.popup-header h1 {
  font-size: 25px;
  font-weight: bold;
}

.close-btn {
  border: none;
  font-size: 20px !important;
  cursor: pointer;
  position: relative;
  top: 5% !important;
  left: 90% !important;
  color: #555;      
  font-weight: bold;
}
.close-btn:hover,
.close-btn:focus,
.close-btn:active {
  background: none !important;
  color: #555 !important;
  outline: none !important;
  box-shadow: none !important;
}

.vertical-line{
  border-left: 1px solid #656363;
  height: 4px;                
}
.popup-subtitle {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin: 10px 0 20px;
  margin-top: 30px !important;
  font-weight: normal;
}
.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 70px;
}

.location-option {
  display: flex;
  align-items: center;
  gap: 90% !important;
  position: relative;
  left: 20px;
}

.location-option input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: rgb(5, 79, 5);
  cursor: pointer;
  position: relative;
  bottom: 79px;
}

.within {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  position: relative;
  left: 10px;
  bottom: 79px;
}
.search-section {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 10px;
  background: #f9f9f9;
  width:70%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

.search-section input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  padding: 5px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 10px 95px !important;
  font-size: 17px;
}

.links a {
  color: #5aaeea;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  right: 40px;
  bottom: 30px;
}
.login-text {
  text-align: center;
  margin-top: 1px;
  font-size: 17px;
}
.login-text a{
      color: #5aaeea;
      text-decoration: none;
}
.continue-btn {
  display: block;
  width: 70%;
  margin: 0 auto;
  background: #ccc; 
  border: none;
  border-radius: 6px;
  padding: 14px;
  margin-top: 15px;
  color: #333; 
}

.continue-btn:hover,
.continue-btn:focus,
.continue-btn:active {
  background: #ccc; 
  color: #333 !important; 
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 576px) {
  .popup-box {
    width: 90% !important;
    padding: 25px 20px;
    border-radius: 12px;
  }
  .popup-header h1{
    font-size: 17px;
  }
  .popup-subtitle{
    font-size: 15px;
  }
  .radio-group {
    gap: 30px;
    margin-top: 30px;
    flex-wrap: nowrap;
  }
  .location-option {
    gap: 10px !important;
    position: static !important;
    left: auto !important;
    bottom: auto !important;
  }
  .location-option input[type="radio"] {
    position: static !important;
    bottom: auto !important;
  }
  .glass{
    position: relative;
    right: 20px;
  }
  .within {
    position: static !important;
    left: auto !important;
    bottom: auto !important;
  }
  .search-section {
    width: 100%;
    margin: 15px 0 0 0;
    position: static !important;
    bottom: auto !important;
  }
   .links {
    margin-top: 40px !important;
    flex-direction: row;
    text-align: center;
    font-size: 13px;
  }
  .continue-btn {
    width: 100%;
    margin-top: 20px;
  }
}
.tooltip-user-box{
  position: absolute;
  top: 90%;           
  left:-100%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 8px 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.20);
  font-size: 13px;
  white-space: normal;
  text-align: left;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-width:250px;
  border-radius: 6px;
  min-height: 220px;
}
.icon-user:hover .tooltip-user-box {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.tooltip-user-box h4{
  font-weight: bold;
}
.tooltip-user-box p{
  position: absolute;
  bottom: 65px;
}
.btn{
  position: absolute;
  font-size: 13px;
  top: 75px;
  width:39%;
  color: rgb(236, 89, 155) !important;
  border-radius: 0%;
}
.btn-outline-dark:hover {
  background-color: transparent !important;      
  border-color: #212529 !important; 
  color: rgb(236, 89, 155) !important;
}
.show{
  position: absolute;
  top: 52%;
  font-size: 14px;
}
.show :hover{
  background-color: #212529;
  font-weight: bold;
}
.order{
  position: relative;
  bottom: 65% !important;
}
.vertical-line,
.divider {
  display: none;
}
.tooltip-wishlist{
  position: absolute;
  top: 40px;
  font-size: 15px;
  font-weight: bold;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  z-index: 9999;
}
.tooltip-cart {
  position: absolute;
  top: 40px;
  font-size: 15px;
  font-weight: bold;
  background: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  z-index: 9999;
}