.form-control:focus {
  outline: none;
  box-shadow: none;
}
.login-left-image img{
    width: 70%;
}
.login-page {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* stronger shadow */
  max-width: 700px;
  width: 100%;
}

.ctn-btn {
    background-color: rgb(227, 13, 104);
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctn-btn:hover {
    background-color: rgb(227, 13, 104); /* slightly darker */
}
