.product-section {
  background-color: #fff;
  padding: 37px 0;
  position: relative;
  top: -9px !important;
}
.product-inline {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 13px; 
  text-align: center;
  justify-items: center;
  align-items: center;
}

.product-item {
  text-align: center;
}

.product-img {
  min-width:  150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  right: 40px;
}

.product-img:hover {
  transform: scale(1.05);
}

/* Product Name Styling */
.product-item p {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-top: 8px;
  text-transform: capitalize;
}

/*  Laptop — 4 per row */
@media (max-width: 992px) {
  .product-section{
    position: relative;
    right: 30px !important;
  }
  .product-inline {
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
  }
  .product-img {
    width: 50px;
    height: 100px;
  }
}
/*  Tablet — 2 per row */
@media (max-width: 768px) {
  .product-inline {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .product-img {
    width: 70px;
    height: 130px;
    object-fit: cover;
    position: relative; 
    left: 60px;
  }
  .product-item p{
    position: relative;
    left:55px;
    font-size: 17px;
  }
}

/*  Mobile — still 2 per row (not 1) */
@media (max-width: 480px) {
  .product-inline {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
  .product-img {
    width: 50px;
    height: 119px;
    object-fit: cover;
    position: relative;
    left: 17% !important;
  }
  .product-item p {
    font-size: 16px;
    position: relative;
    left: 4%;
  }
}

