.texts{
      margin-left:5% !important;
      font-size: 15px;
      line-height: 1.6;
      width:91%;
}
.read-toggle-btn {
  display: block;
  margin-left: 4%;
  padding: 0 20px;
  color: dodgerblue;
  font-weight: 600;
  cursor: pointer;
}
.blog-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 5%;
}

.blog-item {
  width: 39% !important;  /* 3 items in one row */
}

.blog-link {
  color: dodgerblue;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  cursor: pointer;
}
.blogs{
     font-size: 15px;
     width:95%
}
.bloger{
     font-size: 15px;
     width:100%;
}
.footer-image-for-corporate-desktop {
  background-color: #f2f1f1; 
  width: 98%;
  padding: 10px 20px;
}

.footer-highlights {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.highlight {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.iconContainer {
  flex-shrink: 0;
  margin-right: 15px;
}

.iconContainer img {
  height: 50px;
  width: auto;
}

.text-container .title {
  font-weight: bold;
  font-size: 18px;
}

.text-container .sub-title {
  font-size: 14px;
  color: #555;
}
.vertical-line {
  width: 1px;
  background-color: #ca2323;
  height: 60px;
  margin: 0 15px;
}



