.empty{
  display: block; /* default for div, optional */
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.my-wishlist {
  margin: 0 auto;
  text-align: center;
  display: block; 
  white-space: nowrap;
}


.wishlist-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.wishlist-card:hover {
  transform: translateY(-3px);
}

.wishlist-img-card {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wishlist-img-card img {
  width: 100%;
  height: 250px; /* big image height */
  object-fit: cover;
  display: block;
}

.heart-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: white;
  border-radius: 50%;
  padding: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.cake-body {
  padding: 10px;
  text-align: center;
}

.cake-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  flex-wrap: wrap;
}

.new-price {
  font-weight: bold;
  color: #222;
}

.old-price {
  text-decoration: line-through;
  color: #777;
}

.off {
  color: green;
  font-weight: bold;
}

.rating {
  background-color: green;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}
